*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root {
    --ff-primary: 'Fira Sans', sans-serif;
    --ff-secondary: 'Source Code Pro', Roboto Mono, sans-serif;

    --fw-light: 100;
    --fw-regular: 300;
    --fw-bold: 600;

    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;

    line-height: 1.5;
}

html {

}

body {
    margin: 0;
    background-color: #0d0c0d;
}

p {
    color: #79A9D1;
    font-family: "Fira sans";
}

h1,
h2,
h3 {
    color: #7AD96D;
}

.wrapper {
    display: flex;
    margin-top: 1rem;
    min-width: 1000px;
}

strong {
    color: #C0E5C8;
    text-decoration: underline;
}

/* End of Custom Properties */

/* For the First Section Photo */

.photo-of-me {
    margin: auto 1.5rem auto auto;
    width: 33%;
    max-width: 400px;
    border: 3px solid #151315;
    border-radius: 2.5rem;
    border-spacing: 5rem;
    padding-top: 0.75rem;
}

.photo-of-me-photo {
    max-height: 500px;
    border-radius: 2.5rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #C0E5C8;
}

.caption-of-me {
    margin: -1rem auto auto auto;
    text-align: center;
    width: 100%;
    font-size: 1.25rem;
    border-radius: 1rem;
}

/* End of the First Section */

/* Second Section Name & Occupation */

.name-intro {
    width: 33%;
    max-width: 500px;
    margin: auto 0 auto 0;
}

.name-and-location {
    border: 3px solid #151315;
    border-radius: 1.5rem;
    border-spacing: 5rem;

}

.intro-name-about {
    position: relative;
    width: 75%;
    font-size: 3rem;
    padding: 0.75rem 0 1rem 0.5rem;
}

.intro-name-about > i {
    font-size: 1.5rem;
                     }

.intro-name-location {
    font-size: 1rem;
    padding: 0.75rem 0 1rem 1rem;
}

.about-me-degree {
    font-size: 1.25rem;
    text-align: center;
    border: 3px solid #151315;
    border-radius: 1.5rem;
    border-spacing: 5rem;
}

/* End of the Second Section */

/* Third Section More information & Socials */

.contact-information-me {
    width: 33%;
    margin: auto auto auto 0;
    padding: 1.5rem;
}

.section-title-information {
    font-size: 4rem;
    width: 100%;
    text-align: center;
    border: 5px solid #151315;
    border-radius: 1.5rem;
    border-spacing: 5rem;
}

.contact-information-links {
    border: 5px solid #151315;
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    height: 50%;
    padding: 0.5rem;
}

/* End of Third Section */